@model Project_ATP2.Models.User

@{
    ViewBag.Title = "CustomerManagement";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<h2>CustomerManagement</h2>


<form action="/AdminAccount/CustomerManagement" method="post">
    <div class="container">
        <input type="text" class="form-control" placeholder="Search for..." id="searchStr" name="searchStr" value="" required>
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit" id="Search" name="Search">Go!</button>
        </span>
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.Display("Image")
            </th>
            <th></th>
        </tr>


        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Email)
            </td>
            <td>
                <img src="~/Image/ProfilePicture/@Model.Image" alt="Alternate Text" />
            </td>
            <td>
                <select id="Status" name="Status" onchange="changeStatus(this.value, this)" required>
                    <option value="">--Select--</option>
                    <option value="Block">Block</option>
                    <option value="Unblock">Unblock</option>
                </select>
            </td>
        </tr>

    </table>
    <input type="hidden" id="Em" value="@Model.Email" />
</form>


<script src="~/JS/CustomerManagement.js"></script>
